@import url("https://fonts.googleapis.com/css?family=Coda:400,800|Oswald|PT+Sans|Satisfy");

:root {
    font-size: 12px;
}

html {
    margin: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.03em;
    margin: 10vw;
}

body::after {
    content: "";
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-1/cherry-blossoms-unsplash.jpg");
    background-size: cover;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

h1, h2, h3, p, ul, ol, blockquote {
    background-color: white;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
    padding: 1em 0.5em 0.5em 0.5em;
}

h1::after {
    content: "";
    display: block;
    height: 1px;
    margin-top: 0.2em;
    background: -webkit-linear-gradient(left, #ffffff 0%,#000000 15%,#000000 82%,#ffffff 100%);
}

h2, h3 {
    padding: 1em 2em 0 3em;
}

h3::before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
    transform: rotate(45deg);
    background-color: rgb(0,0,0);
}

p {
    padding: 1em 4em;
    text-align: justify;
}

ul {
    padding-left: 6em;
}

strong {
    font-weight: 400;
}

p, ul, ol {
    line-height: 1.5em;
}

blockquote p {
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    text-align: center;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote p::before, blockquote p::after {
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;  
}

blockquote p::before {
    content: open-quote;
    margin-right: 0.25em;
}

blockquote p::after {
    content: close-quote;
    margin-left: 0.25em;
}

p img, h2 + p {
    display: none;
}

h1 + p {
    color: rgb(0,0,0);
}

h1 + p em {
    color: rgba(0,0,0,0.5);
}

h1 + p, h1, h2 {
    text-align: center;
}

ul + p {
    padding-bottom: 5em;
}

.support_count {
    float: right;
}

@media (min-width: 480px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 720px) {
  :root {
    font-size: 16px;
  }
    body {
        margin: 10vw 20vw;
    }
}